*{
    padding: 0;
    margin: 0;
}
.center-f{
    text-align: center;
    padding: 25px;
}
.center-f p {
    padding: 10px;
    font-size: 18px;
}
.collect{
    display: flex;
    gap: 50px;
   justify-content: center;
   align-items: center;
   padding-bottom: 50px;
}
.rightside  p 
 {
   padding: 7px 0;
}
.rightside a 
{
    
    color: gray;
    font-weight: bold;
}
.forth-section {
  background-color:#6d48e5;
  padding-bottom: 50px;
}
.text {
    font-size: 30px;
    color: #fff;
    font-weight: bold
}

.numbers {
    display: flex;
    justify-content: center;
    gap: 150px;
    color: #fff;
    font-size: 50px;
    
}
.link {
    text-align: center;
    padding: 30px;
    font-size: 20px;
}
.link a {
    color: #fff;
}

@media (max-width:425px) {
     .collect {
         display: flex;
         flex-direction: column-reverse;
     }
    .numbers {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap:20px;
    }
}